
.layoutheader {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100px;
   width: 100%;
  
   
  
   
}
#logoname{
    font-size: 30px;
    font-weight: bold;
    
}
nav,
div.header-logo,
div.cart-icon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}

div.cart-icon {
    flex-basis: 18%;
    
}
div.header-logo{
    flex-basis: 25%;
}
nav {
    flex-basis: 60%;
   
}
ul {
    list-style-type: none;
    display: flex;
    gap: 90px;
}
a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}
div.cart-icon {
    cursor: pointer;
}
#cardpagediv{
    height: 40px;
    width: 100px;
    border: 1px solid black;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 13px;
    margin-left: 10px;
   
}

.cart-popup {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #00000047;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
   
}
#shopcard{
 font-size: 24px;
 font-weight: bold;
 color: #000000;   
}
#cardimpty{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    
}
.cart-popup .cart-card {
    width: 23%;
    height: 70%;
    max-height: 70%;
    background-color: white;
    position: absolute;
    top: 5px;
    right: 5px;
    overflow: hidden;
}
.cart-popup .cart-card header {
    font-size: 25px;
    border-bottom: 1px solid #ddd;
    width: 70%;
    margin-top: 20px;
    margin-left: 20px;
    padding-bottom: 20px;
}
.products-in-cart {
    height: 70%;
    max-height: 70%;
    overflow-y: scroll;
}
.product-repr-cart {
    width: 90%;
    height: 80px;
    display: flex;
    margin: 20px auto;
    border: 0.3px solid #ddd;
    border-radius: 4px;
    position: relative;
}
.delete-product {
    position: absolute;
    right: 0;
    cursor: pointer;
}
.product-repr-cart .product-repr-cart-img {
    width: 30%;
    height: 100%;
    max-height: 100%;
    margin-right: 20px;
    overflow: hidden;
    padding: 5px;
}
.product-repr-cart-img img {
    width: 100%;
}
.product-repr-cart-details {
    width: 70%;
    display: flex;
    flex-direction: column;
}
.product-repr-cart-details span {
    height: 50%;
    width: 70%;
    overflow: hidden;
}
.product-repr-cart-details span:first-child {
    font-weight: bold;
}
.product-repr-cart-details span:last-child {
    color: #B88E2F;
    display: flex;
    align-items: center;
   
}
footer .nav-to-cart {
    width: 90%;
    margin: 10px auto;
    border-top: 0.5px solid #ddd;
    padding-top: 20px;
    padding-left: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
footer .nav-to-cart > span {
    color: #B88E2F;
    font-weight: bold;
    font-size: 16px;
}
@media only screen and (max-width: 600px) {
    div.header-logo,
    div.cart-icon {
        flex-basis: 2%;
       
       
    }
    
    #logoname{
        font-size: 20px;

    }
    nav {
        flex-basis: 8%;
       
    }
    ul {
       
        gap: 40px;
       
    }
    .layoutheader {
       gap: 10px;
       
       
       
    }
    #logo{
        height: 30px;
        width: 40px;
       
    }
    .cart-popup .cart-card {
        width: 90%;
       
    }
}
@media (min-width: 600px) and (max-width: 1400px) {
    .cart-popup .cart-card {
        width: 50%;
       
    }
}

